@import '../../../scss/variables';
@import '../../../scss/mixin';

.book-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
  padding: 1rem;
  width: 15rem;
  border-radius: 5px;
  background-color: white;
  backdrop-filter: blur(5px);
  @include elevate;

  .image-container {
    height: 12rem;
    margin-bottom: 1rem;
  }
}
